@import "../../styles.scss";

.step-box svg {
  width: 1.3em;
  height: 1.3em;
}

.btn-box {
  display: flex;
  justify-content: center;
  padding: 1em 0;

  .btn-submit {
    background-color: $primary-color;
    border-radius: 9px;
  }
}

.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 24px;
  padding: 2rem;
  border-radius: 20px;
}
