@import "../../styles.scss";

.step-box svg {
  width: 1.3em;
  height: 1.3em;
}

.btn-box {
  display: flex;
  justify-content: center;
  padding: 1em 0;

  .btn-submit {
    background-color: $primary-color;
    border-radius: 9px;
  }
}
