.partner-container > div {
  display: flex;
  justify-content: center;

  .partner-img {
    box-shadow: none;
    padding-left: 0;

    img {
      border-radius: 50%;
      height: 170px;
      width: 170px;
    }
  }
}
