.header {
  flex-grow: 1;

  div {
    background-color: white;
  }
}

.logo {
  margin-right: 16px;
  display: flex;
  align-items: center;

  img {
    width: 200px;
  }

  img:hover {
    cursor: pointer;
  }
}

.nav-links {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;

  .button {
    color: black;
    text-transform: none;
    font-size: 1.1rem;
    font-weight: 500;
    font-family: "Quicksand", sans-serif;
  }
}

.button {
  color: black;
  text-transform: none;
}
