.header {
  flex-grow: 1;

  div {
    background-color: white;
  }
}

.logo {
  margin-right: 16px;
  display: flex;
  align-items: center;

  img {
    width: 200px;
  }
}

.nav-links {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;

  .button {
    color: black;
    text-transform: none;
  }
}

.button {
  color: black;
  text-transform: none;
}
