@import "../../styles.scss";

#root header {
  background-color: white;

  .logo {
    width: 16rem;
    box-shadow: none;
  }

  .nav-links {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    margin: 0 3rem;

    button {
      color: black;
      text-transform: none;
      font-size: 1.2rem;
      font-weight: 600;
    }
  }

  .btn-book {
    border-radius: 9px;
    background-color: $primary-color;
  }
}
