@import "../../styles.scss";

footer {
  margin-top: 2rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  background-color: $primary-color;

  .footer-box {
    background-color: $primary-color;
    box-shadow: none;
  }

  .footer-title {
    color: white;
  }
}
