@import "../../styles.scss";

footer {
  margin-top: 2rem;
  padding-top: 2rem;
  background-color: $primary-color;

  .footer-img {
    box-shadow: none;
    background-color: transparent;
  }

  .footer-box {
    background-color: $primary-color;
    box-shadow: none;
    padding: 1rem;

    li {
      color: white;

      &:hover {
        background-color: #fff;
        color: $primary-color;
        transition: background-color 0.3s ease-in-out, box-shadow 0.2s linear;
      }
    }

    p {
      margin: 1.2rem 0;
      color: white;
    }

    svg {
      margin-right: 0.45rem;
    }
  }

  .footer-title {
    color: white;
    padding-bottom: 1rem;
    border-bottom: 1px solid white;
  }
}
